---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const endpoint = "https://yvsqeurljhxwfykzgfyb.supabase.co/rest/v1/Toki?select=*";
  const key = `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2c3FldXJsamh4d2Z5a3pnZnliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5Nzc0ODMsImV4cCI6MjA3ODU1MzQ4M30.tQHxzSel-Iqvcvuh9XBVKsvHr-oNSd8XLUyhsGABUGo`;

  const options = {
    method: "GET",
    headers: {
      apikey: key,
    },
  };
  const response = await fetch(endpoint, options);
  const data = await response.json();

  return data.map((post) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}

const { id } = Astro.params;
const { post } = Astro.props;
---

<!-- indhold til undersiderne -->
<Layout>
  <h1>{post.casename}</h1>
  <img src=`https://yvsqeurljhxwfykzgfyb.supabase.co/storage/v1/object/public/Toki_images/${post.image}` alt="case image" />
  <h2>THE PROBLEM</h2>
  <p>{post.problem}</p>
  <h2>SOLUTION</h2>
  <p>{post.solution}</p>
  <h2>RESULTS</h2>
  <p>{post.results}</p>
</Layout>
